<div class="form">
  <%= simple_form_for @user, url: session_sign_in_path, remote: true,  html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :client_id, as: :hidden, input_html: { value: 'demo' } %>
    <%= f.input :grant_type, as: :hidden, input_html: { value: 'password' } %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :client_secret, as: :hidden, input_html: { value: 'secret' } %>
    <%= f.input :scope, as: :hidden, input_html: { value: 'users' } %>
    <%= f.button :submit, 'Sign In', data: { disable_with: 'Processing...' }, class: 'btn btn-primary js-session-sign-in' %>
  <% end %>
</div>