<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>

  <div class="col">
    <div class="js-access"></div>
    <div class="js-access-token-state"></div>
    <div class="js-error"></div>
  </div>
</div>

