<div class="form">
  <%= simple_form_for access, url: access_token_state_path, remote: true,  html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :access_token, readonly: true %>
    <%= f.input :expires_in, readonly: true %>
    <%= f.input :token_type, readonly: true %>
    <%= f.button :submit, 'Check Token', data: { disable_with: 'Processing...' }, class: 'btn btn-primary'  %>
  <% end %>
</div>